# Get Input
## give op

* First notebook is ready
* check

In [2]:
import graphlab as gl

In [3]:
import os
print(os.getcwd())

C:\Users\unnikrishnan.s\My Projects\training\machine learning\coursera-UW\practice

In [5]:
sf=gl.SFrame("people-example.csv")

This non-commercial license of GraphLab Create for academic use is assigned to unnikrishnan.sivakumar@gmail.com and will expire on February 02, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\UNNIKR~1.S\AppData\Local\Temp\graphlab_server_1486036895.log.0

Finished parsing file C:\Users\unnikrishnan.s\My Projects\training\machine learning\coursera-UW\practice\people-example.csv

Parsing completed. Parsed 7 lines in 0.01 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\unnikrishnan.s\My Projects\training\machine learning\coursera-UW\practice\people-example.csv

Parsing completed. Parsed 7 lines in 0.017001 secs.

In [8]:
sf.tail(3)

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 3

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[3 rows x 4 columns]

In [12]:
gl.canvas.set_target('ipynb')
sf['age'].show(view="Numeric")

In [15]:
sf["Full Name"]=sf["First Name"]+" "+sf["Last Name"]

In [16]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]